@model Store.Models.HomepageModel
@{
    ViewBag.Title = "Home Page";
}

<h2>Let's do some shopping</h2>

<div class="col-xs-12 hclearfix">
    @foreach (var p in Model.ProductsCollection) {
    <div class="col-xs-3 hproduct">
        <div class="picture">
            <img src="/PicData/@p.PicURL" title="@p.Name" />
        </div>
        <h3>@p.Name</h3>
        <h4>&#8362;@p.Price</h4>

        <p class="center">
            <input type="button" id="buy_@p.Id" value="Buy Now" class="buynow" /> 
        </p>
    </div>
    }
</div>