
@{
    ViewBag.Title = "ProductSKUError";
}

<h2>Product Proccess Error</h2>

<div class="col-xs-12 hclearfix">
    <p class="alert-danger">There was a problem while trying to add a new Product.<br />
    seems like you've got duplicated SKU items. SKU should be uniqe for each product.<br />
    try to add your product again just with other SKU combination.<br />
    </p>
    
    <p><a href="/Admin/AddProducts" title="Back to Products">Try Again</a></p>
</div>