@{
    ViewBag.Title = "Product Successful Added";
}

<h2>Product Successful Added</h2>

<div class="col-xs-12 hclearfix">
    <p class="success">Product Successfully Added</p>
    <p><a href="/Admin/AddProducts" title="Back to Products">Add more Products</a></p>
</div>


