@{
    ViewBag.Title = "My Customer Orders";
}

<h2><i class="fa fa-money"></i> Orders</h2>

<div class="col-xs-12 hclearfix edit">
    <div class="col-xs-2 eRow et"><b>Order Id</b></div>
    <div class="col-xs-2 eRow et"><b>Order Date</b></div>
    <div class="col-xs-3 eRow et"><b>Customer Name</b></div>
    <div class="col-xs-3 eRow et"><b>Product Name</b></div>
    <div class="col-xs-2 eRow et"><b>Order Price</b></div>

    <div id="orders">
        <center class="alert-info">Loading Orders...</center>
    </div>

</div>

<script language="javascript">
    $.get("GetJsonOrders", null, showOrders);

    function showOrders(ordersObj) {
        var getElement = $("#orders");

        for (i = 0; i < ordersObj.length; i++) {

            if ($("center.alert-info").is(":visible"))
                $("center.alert-info").fadeOut("fast");
            

            var orderDate = new Date(parseInt(ordersObj[i].Date.substr(6)));
            var fixedMonth = orderDate.getMonth() + 1;
            var orderOutput = "<div class='col-xs-2 eRow'>" + ordersObj[i].Id +
                "</div>" + "<div class='col-xs-2 eRow'>" + orderDate.getDate() + "/" + fixedMonth + "/" + orderDate.getFullYear() +
                "</div>" + "<div class='col-xs-3 eRow'>" + ordersObj[i].CustomerName +
                "</div>" + "<div class='col-xs-3 eRow'>" + ordersObj[i].ProductName +
                "</div>" + "<div class='col-xs-2 eRow'>" + ordersObj[i].ProductPrice +
                "</div>";

            getElement.append(orderOutput);
        }
    }
</script>